<hr/>

<div class='col-lg-6'>
    <h3>login</h3>
    <div class='input-group'>
        <input type='email' class='form-control' placeholder='Email Address' aria-describeby='basic-addon2' ng-model="emailId"/>
        <span class='input-group-addon' id='basic-addon2'>@example.com</span>
    </div>

    <div class='input-group'>
        <input type='password' class='form-control' placeholder='Password' aria-describeby='basic-addon1' ng-model="password"/>
        <span class='input-group-addon' id='basic-addon2'>Password</span>
    </div>
    
    <a class='btn btn-primary btn-lg' ng-click='login.validate()'>Login</a>
    <span>New user? <a href="#/register">sign up</a></span>
</div>